.bargain-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 162px;
  margin: 0.72em 0.5em 0.73em;
  padding: 0 1.2rem 1.2rem;
  text-align: center;
  box-sizing: border-box;
  color: #182d3a;
  background-color: #fff;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 6px 20px rgba(47, 80, 23, 0.15);
  transition: box-shadow 0.2s ease-in;
  overflow: hidden;
}

.bargain-box:hover {
  box-shadow: 0 3px 15px rgba(47, 80, 23, 0.4);
}

.bargain-box .bargain-img {
  width: 100px;
  height: 100px;
  margin: 1.2rem auto;
  display: flex;
}

.bargain-box .bargain-img img {
  margin: auto;
  max-width: 100%;
}

.bargain-box span {
  display: block;
  margin-top: auto;
  font-weight: 800;
}

.bargain-box .tr-button--link {
  font-size: 14px;
}

.bargain-box:hover .tr-button--link {
  color: #3dd368;
  text-decoration: underline;
}
