.skill-box img {
  /*position: absolute;*/
  width: 6rem;
  height: 6rem;
  transform-origin: center;
  /*transform: scale(.5);*/
}

.skill-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #485d6a;
  margin: 1rem;
  flex: 1 0 25%;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .skill-box {
    flex: 1 0 40%;
  }

}
@media (min-width: 481px) and (max-width: 767px) {

  .skill-box {
    flex: 1 0 25%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {


  .skill-box {
    flex: 1 0 50%;
    margin: 1rem 0;
  }

}


.skill-box span {
  text-align: center;
  line-height: 1;
}

.skill-box > * {
  padding: 7.5px 0;
}

.score {
  font-weight: bold;
}

.svgspinner-circle {
  width: 6rem;
  height: 6rem;
  max-width: 100%;
  fill: transparent;
  transform-origin: center;
  overflow: visible;
  transform: rotate(-90deg);
}

.circle-background{
  stroke-width: 10;
  stroke: #d1d7e0;
}
.circle-up{
  max-width: 100%;
  fill: transparent;
  transform-origin: center;
  stroke-dasharray: 282.743;
  stroke-width: 10;
  stroke-dashoffset: 169.646;
  stroke: currentcolor;
}