@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}

a {
  color: #182d3a;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  text-align: center;
  font-size: 3rem;
  color: #182d3a;
}
section {
  padding: 2rem 22rem;
}

section.alternate-bg {
  background-color: #f5f6f9;
}

.layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  text-align: center;
}

.card--title {
  background-color: #85b973;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 15px;
}

.card--title h4 {
  margin: 0;
}

.card--body {
  background-color: #eee;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.console {
  padding: 1rem;
  color: green;
  text-align: left;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding-right: 2em;
}
.console a {
  font-weight: 300;
  text-decoration: underline;
}

.console--line {
  margin-top: 0.2rem;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  width: calc(100% + 1em);
}

.console--title {
  font-size: 24px;
}

.App {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #485d6a;
}
.mail {
  margin-top: -0.9em;
}

.contacts {
  display: grid;
  justify-content: center;
}
.contacts .row {
  display: grid;
  margin: 0.5em;
  align-items: center;
  justify-items: center;
  grid-template-columns: 5rem auto;
  justify-content: start;
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */
  section {
    padding: 2rem 11rem;
  }


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */
  section {
    padding: 2rem;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */
  section {
    padding: 1.5rem;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  section {
    padding: 1rem;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  /* CSS */
  section {
    padding: .3rem;
  }

}